<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img ng-src="{{userData.picture}}" class="avatar"/>
			<h2>{{userData.name}}</h2>		
		</div>
		<div class="col-md-6">
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#"><span class="fa fa-user"></span>  Proposals</a></li>
			  <li role="presentation"><a href="#"><span class="fa fa-user"></span>  Contributions</a></li>
			  <li role="presentation"><a href="#"><span class="fa fa-user"></span>  Recent Activity</a></li>
			</ul>		
		</div>
	</div>
</div>