<footer class="footer">
	<hr/>
    <div class="container">
    	<div class="row">
    		<div class="col-md-5">
		       <li class="footer-list">
    		       <ul><a>@ 2015 IndustryVertical, Inc.</a></ul>		       
    		       <ul><a>Terms</a></ul>
    		       <ul><a>Privacy</a></ul>
    		       <ul><a>Security</a></ul>
    		       <ul><a>Contact</a></ul>    		       
		       </li>    		       
    		</div>
			<div class="col-md-offset-3 col-md-4">
		       <li class="footer-list">
    		       <ul><a>Status</a></ul>
    		       <ul><a>API</a></ul>
    		       <ul><a>Training</a></ul>
    		       <ul><a>Blog</a></ul>    		       
    		       <ul><a>About</a></ul>    		       
		       </li>
    		</div>
    </div>
</footer>
