<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<h1>Join Geeko</h1>
			<p class="lead">The best place to design, develop, and share knowledge.</p>	
			<ol class="steps">
	          <li class="current">
	            <span class="mega-octicon fa fa-user"></span>
	            <strong class="step">Step 1:</strong>
	            Set up a personal account
	          </li>
	          <li>
	            <span class="mega-octicon fa fa-certificate"></span>
	            <strong class="step">Step 2:</strong>
	            Choose your plan 	
	          </li>
	          <li>
	            <span class="mega-octicon fa fa-dashboard"></span>
	            <strong class="step">Step 3:</strong>
	            Go to your dashboard
	          </li>
	        </ol>
	    </div>
	 </div>	
	<div class="row">
		<div class="col-md-offset-2 col-md-5">	 			
			<form class="signin-form">
			   <h2 class="form-header">Create your personal account</h2>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Username</label>
			    <input type="text" class="form-control" id="username">
			    <p class="note">This will be your username — you can enter your organization's username next.</p>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email Address</label>
			    <input type="email" class="form-control" id="username">
			    <p class="note">You will occasionally receive account related emails. We promise not to share your email with anyone.</p>
			  </div>			  
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="password">
			    <p class="note">Use at least one lowercase letter, one numeral, and seven characters.</p>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Confirm your password</label>
			    <input type="password" class="form-control" id="password">
			  </div>			
			  <p class="tos-info">By clicking on "Create an account" below, you are agreeing to the
			  	<a href="https://help.github.com/terms" target="_blank">Terms of Service</a> and the 
			  	<a href="https://help.github.com/privacy" target="_blank">Privacy Policy</a></p>  
			  <button type="submit" class="btn btn-success">Create an account</button>
			</form>			  
		</div>
		<div class="col-md-3">
			<div class="panel panel-default" style="margin-top:30px;">
			      <div class="panel-heading"><h3 class="panel-title">You’ll love Geeko</h3></div>	
				  <div class="panel-body">
				    <ul class="list">
				    	<li><b>Unlimited</b> collaborators</li>
				    	<li><b>Unlimited</b> public repositories</li>
				    	<li class="list-divider"></li>
				        <li><span class="fa fa-check"></span>  Great communication</li>
				        <li><span class="fa fa-check"></span>  Friction-less development</li>
				        <li><span class="fa fa-check"></span>  Open source community</li>
				    </ul>		  
				  </div>
			</div>			
		</div>
	</div>
</div>
